/* Body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--third-color); /* Background using third color */
    color: #333; /* General text color */
    border-radius: 2.5px;
}

/* Color palette from: https://palettes.shecodes.io/palettes/507#palette */
:root {
    --first-color: #919190;
    --second-color: #c4eada;
    --third-color: #ef7b7b;
    --fourth-color: #fcf3ca;
    /* @MacN_iT text color change */
    --flag-white: #ffffff;
    --flag-red: #ff0000;
    --flag-blue: #0000ff;
}
/* End of Body styles */
/* Header styles */
.header-index {
    background-color: var(--first-color);
    color: white;
    padding: 10px 0;
    border-radius: 10px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#nav_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem; /* To adjust the text size */
    margin-left: 0px;
}

.littlerobot {
    max-width: 170px; /* Adjust the max-width for log scaling */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 5px; /* The space between the logo and text */
    margin-left: -100px;
}

.nav.menu {
    display: flex;
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin-left: auto;
}

.nav_item a {
    text-decoration: none;
    color: var(--fourth-color);
    font-weight: bold;
    padding: 10px;
}

.nav_item a.nav_active {
    color: var(--fourth-color); /* Highlight the active link */
}

.nav_item a:hover {
    background-color: var(--second-color);
}

/* Animation styles for color change */
.color-change {
    display: inline-block;
    animation: colorAnimation 10s infinite;
}

.color-change:nth-child(1) { /* @ */
    animation-delay: 0s;
}
.color-change:nth-child(2) { /* M */
    animation-delay: 2s;
}
.color-change:nth-child(3) { /* a */
    animation-delay: 4s;
}
.color-change:nth-child(4) { /* c */
    animation-delay: 6s;
}
.color-change:nth-child(5) { /* N */
    animation-delay: 8s;
}
.color-change:nth-child(6) { /* _ */
    animation-delay: 10s;
}
.color-change:nth-child(7) { /* i */
    animation-delay: 12s;
}
.color-change:nth-child(8) { /* T */
    animation-delay: 14s;
}

@keyframes colorAnimation {
    0%, 100% {
        color: var(--flag-white);
    }
    25% {
        color: var(--flag-red);
    }
    50% {
        color: var(--flag-white);
    }
    75% {
        color: var(--flag-blue);
    }
}
/* End of Animation styles for color change */
/* End of Header styles */

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--first-color);
    color: var(--third-color);
    border-top: 1px solid #ccc;
    border-radius: 10px;
}



/* Responsive styles */
/* Medium screens */
@media (max-width: 1023px) {
    /* Adjust the container to center its content */
    .nav_container {
        display: flex;
        justify-content: space-between; /* Center the logo img, text, and the  navigation menu */
        align-items: center;
        max-width: 1200px; /* Set the max-width to center the contianer */
        margin: 0 auto; /* Center the container */
        padding: 5px 20px; /* Add padding to prevent touch the edges */
    }

    #nav_logo {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1.2rem;
        margin-right: auto;
        margin-left: 150px; /* Push / Move the logo toward the center */
    }

    .littlerobot {
        max-width: 150px;
        margin-right: 0px; /* Create space between the robot and the text */
        margin-left: -200px; /* Negative moves it left */
        margin-top: 50px;
    }

    .color-change {
        display: inline-block;
        margin: 0px 2.5px; /* Space between the characters */
        font-size: 1.2rem;
        margin-top: 70px;
    }

    /* Navigation Menu */
    .nav.menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Align the menu to the right */
        gap: 15px; /* Space between the menu items */
        list-style: none;
        margin-right: 50px; /* Push the menu toward the center */
    }

    .nav_item a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--fourth-color);
        margin-right: 30px;
    }

    .nav_item a:hover {
        background-color: var(--second-color);
    }
    /* Enf of Navigation Menu */

    .home_title {
        position: absolute;
        top: -2px; /* Adjust as needed */
        left: 100px;
        color: var(--first-color);
        font-size: 1.5rem;
        margin: 0;
    }
}
/* End of Medium screens */

/* Small screens */
@media (max-width: 768px) {
    .welcome_section h1 {
        margin-left: 25px;
    }

    .welcome_section h2 {
        margin-left: 45px;
    }
    
    .home_section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .home_column {
        width: 100%; /* Have the column take up the full available width */
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px; /* Add a little padding if needed */
        box-sizing: border-box; /* Make sure the padding doesn’t cause overflow */
    }

    .home_paragraphs {
        width: 100%; /* Ensure the paragraphs container takes up full width */
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align text to the start (left) */
        padding: 0 10px; /* Add padding to ensure text doesn't touch the edges */
        box-sizing: border-box; /* Ensure padding doesn’t cause overflow */
    }

    .home_paragraphs p {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
    }

    #home_image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        overflow: visible;
        margin-bottom: 10px; /* Add space between the image and the paragraphs */
        border-radius: 10px;
    }

    .home_title {
        position: absolute;
        top: 20px; /* Adjust as needed */
        left: 100px;
        color: var(--first-color);
        font-size: 1.2rem;
        margin: 0;
    }

    /* Adjust the container to center its content */
    .nav_container {
        display: flex;
        justify-content: space-between; /* Center the logo img, text, and the  navigation menu */
        align-items: center;
        max-width: 1200px; /* Set the max-width to center the contianer */
        margin: 0 auto; /* Center the container */
        padding: 5px 10px; /* Add padding to prevent touch the edges */
    }

    #nav_logo {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1.2rem;
        margin-right: auto;
        margin-left: -80px; /* Push or Move the logo toward the center */
    }

    .littlerobot {
        max-width: 135px;
        margin-right: 0px; /* Create space between the robot and the text */
        margin-left: 50px;
        margin-top: 30px;

    }

    .color-change {
        display: inline-block;
        margin: 1.5px; /* Space between the characters */
        font-size: 1.2rem;
        margin-top: 65px;
    }

    /* Navigation Menu */
    .nav.menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Align the menu to the right */
        gap: 15px; /* Space between the menu items */
        list-style: none;
        margin-right: 50px; /* Push the menu toward the center */
    }

    .nav_item a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--fourth-color);
        margin-right: 30px;
    }

    .nav_item a:hover {
        background-color: var(--second-color);
    }
    /* End of Navigation Menu */

    /* Button styles */
    .button_container {
        display: flex;
        justify-content: center; /* Center horizontally */
        margin-top: 20px; /* Add space between the paragraphs and the button */
        padding: 10px;
        width: 100%; /* Make the button container full-width */
        border-radius: 5px;
        margin-left: 10px;
    }

    .welcome_btn {
        width: 100%; /* Make the button full-width for easier interaction */
        text-align: center;
        padding: 15px;
        max-width: 200px;
    }
    /* End of Button styles */

    footer {
        padding: 15px;
        font-size: 0.9rem; /* Slightly smaller font for footer */
    }
}
/* End of Small screens */
/* End of Responsive styles */